{% extends "layout.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
{% include 'navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 class="bg-info text-center mt-3">Update Your Card</h1>
                {% include "_messages.html" %}
            </div>
            <div class="col-md-2"></div>
    </div>
        <form action="" method="POST" enctype="multipart/form-data">
            <!-- {{ form.csrf_token }} -->
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    {{ render_field(form.first_name,class='form-control') }}
                    {{ render_field(form.last_name,class='form-control') }}
                    {{ render_field(form.cit,class='form-control') }}
                    {{ render_field(form.gender,class='form-control') }}
                    {{ render_field(form.personal_no,class='form-control') }}
                    {{ render_field(form.birth_of_date, class="form-control" )}}
                    {{ render_field(form.date_of_exspiry,class='form-control') }}
                   
                </div>
                    <div class="col-md-4">
                        {{ render_field(form.card_no,class='form-control') }}
                        {{ render_field(form.place_of_birth,class='form-control') }}
                        {{ render_field(form.date_of_issue,class='form-control') }}
                        {{ render_field(form.issuing_autority,class='form-control') }}
                        </select>
                
                        <label for="separtment" class="label_reg" > Add a department</label>
                        <select name="department" id="department" class="form-control" required>
                            <option value="{{users.department_id}}">{{users.department.department}}</option>
                            {% for dep in department %}
                            <option value="{{dep.id}}">{{dep.department}}</option>
                            {% endfor %}
                        </select>

                        <label for="feature"  class="label_reg"> Select human features:</label>
                        <select class="selectpicker form-control " id="feature" name="feature" multiple required>
                            {% for featur in users.feature %}
                            <option value="{{featur.id}}" selected >{{featur.feature}}</option>
                            {% endfor %}
                            {% for feature in features %}
                            <option value="{% if feature not in users.feature %} {{feature.id}}  {% endif %}">{{feature.feature}}</option>
                            {% endfor %}
                          </select>
                          <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ render_field(form.signature, class="form-control") }}
                                    <td><img class="pic-1" style="width: 150px;height: auto; " src="{{url_for('static', filename='images/' + users.signature)}}"></td>
                                </div>
                                <div class="col-md-6">
                                    {{ render_field(form.profile, class="form-control") }}
                                    <td><img class="pic-1" style="width: 150px;height: auto; " src="{{url_for('static', filename='images/' + users.profile)}}"></td>

                                </div>
                                
                            </div>
                        </div>                                          
                </div>
               
                <div class="col-md-4">
                    
                </div>
                
                <div class="col-md-2">
                 
                </div>
            </div>
            <div class="d-flex justify-content-center">
                {{ form.submit(class='btn btn-lg btn-info float-right col-md-8 d-flex justify-content-center' ) }}
            </div>
            {% if form.errors %}
            {% for error in form.errors.items() %}
            <p>error: {{error}} </p>
            
            {% endfor %}
            {% endif %}
           
        </form>
</div>


{% endblock content %}